<% unless current_user.is_a? GuestUser %>
  <%= form_for @comment, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control top-buffer' %>
    </div>
    <%= f.submit 'Post Comment', class: 'btn btn-primary top-buffer' %>
  <% end %>
<% end %>
