<h1>Portfolio Items</h1>
<% @portfolio_items.each do |porfolio_item| %>
	<p><%= porfolio_item.title %></p>
	<p><%= porfolio_item.subtitle %></p>
	<p><%= porfolio_item.body %></p>
	<%= image_tag porfolio_item.thumb_image %>
<% end %>