<header>
<div class="masthead clearfix">
  <div class="inner">
    <nav class="nav nav-masthead app-nav">
    <h3 class="masthead-brand">Przemek Zastawny</h3>
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
</header>
