<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
    	<%= link_to "View All Portfolio Items", portfolios_path %>
      <a href="#" class='btn'>Back to top</a>
    </p>
  <p><%= @copyright%></p>
  </div>
</footer>
