  <main class="px-3">
    <h1>About me</h1>
    <p class="lead">I think that never is too late to learn something new. That's why I try to learn new things every day. One of this things is Ruby on Rails which gives me a lot of fun.</p>
    <p class="lead">So do whatever you want or ever wanted to do.</p>
  </main>
