<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone "699555321" %></p>
<p><%= number_to_currency "699555321" %></p>
<p><%= number_to_percentage "80.5" %></p>
<p><%= number_with_delimiter "801312313" %></p>
