   <main class="px-3">
    <h1>Welcome.</h1>
    <p class="lead">Software development is not only programming but also talking to each other.</p>
    <p class="lead">Communication is a key to succesfull application.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    </p>
  </main>

